<!DOCTYPE html>
<html>
    <head>
        <title>Resultado</title>
    </head>
    <body>
        <h1>Resultados</h1>
        <p>Resultado da soma entre {{n1}} e {{n2}} é:{{resultados['soma']}}</p>
        <br>
        <p>Resultado da subtração entre {{n1}} e {{n2}} é:{{resultados['sub']}}</p>
        <br>
        <p>Resultado da multiplicação entre {{n1}} e {{n2}} é:{{resultados['mult']}}</p>
        <br>
        <p>Resultado da divisão inteira entre {{n1}} e {{n2}} é:{{resultados['div_int']}}</p>
        <br>
        <p>Resultado da divisão fracionada entre {{n1}} e {{n2}} é:{{resultados['div_fra']}}</p>
        <br>
        <p>Resultado da resto entre {{n1}} e {{n2}} é:{{resultados['resto']}}</p>
        <br>
        <p>Resultado da raíz entre {{n1}} e {{n2}} é:{{resultados['raiz']}}</p>
        <br>
        <a href="/">Voltar para a página inicial</a>    
    </body>
</html>