<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Listar</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="conteudo">
        <a class='btn-cadastro' href="/cadastrar">Cadastrar</a>
        <table id='tabela-squad'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>DESCRICAO</th>
                    <th>NUMEROPESSOAS</th>
                    <th>LINGUAGEMBACKEND</th>
                    <th>FRAMEWORKFRONTEND</th>   
                    <th>SGBD</th>   
                    <th></th>                 
                </tr>
            </thead>
            <tbody>
                {% for s in lista %}
                <tr>
                    <td>{{s[0]}}</td>
                    <td>{{s[1]}}</td>
                    <td>{{s[2]}}</td>
                    <td>{{s[3]}}</td>
                    <td>{{s[4]}}</td>
                    <td>{{s[5]}}</td>
                    <td>{{s[6]}}</td>
                    <td>
                        <a href="/cadastrar?id={{s[0]}}" class="editar">Editar</a>
                        <a href="/excluir?id={{s[0]}}" class="excluir">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>