body{
    background: coral;
    color:white;
}
#tabela-squad{
    width: 95%;
    margin: 3em auto 2em;
    border-collapse: collapse;
    border-radius: 1em;
    background: white;
    border-radius: 1em;
}
#tabela-squad thead tr th{
    background: black;
    padding: 0.8em;
    text-align: left;
    
}
#tabela-squad tbody tr td{
    padding: 0.3em;
    color:black;
}
.btn-cadastro{
    color:white;
    background: black;
    margin: 2.2 em ;
    padding: 10px;
    text-decoration: none;
}
.btn-cadastro:hover{
    color:black;
    background: white;
    border: 1px solid black;
}
.conteudo{
    width: 80%;
    margin:80px auto;
}


/* Formularios */
form{
    width: 60%;
    margin: 2em auto ;
    padding: 3em 4em 2em;
    border: 2px solid black;
}
.editar{
    color:white;
    padding: 0.2em;
    text-decoration: none;
    background:black;
}
.editar:hover{
    color:black;
    background:white;
    border:1px solid black;
}
.excluir{
    padding: 0.2em;
    text-decoration: none;
    color:white;
    background:black;
}
.excluir:hover{
    color:black;
    background:white;
    border: 1px solid black;
}

.salvar{
    border-style:none;
    background:  black;
    color: white;
    padding: 1em;
    text-transform: uppercase;
    cursor: pointer;
    width: 6.8em;
}
.salvar:hover
{
    color:black;
    background: white;
    border: 1px solid black;
}
.limpar{
    text-decoration: none;
    padding: 0.6em 1em;
    background: black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    width: 6.8em;
    font-size: 0.85em;
    padding: 1em;
}
.limpar:hover
{
    color:black;
    background: white;
    border: 1px solid black;
}
.btn{
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;
    border-color: buttonface;
    border-image: initial;
    border-width: 2px;
}
hr{
    background: #000;
    border-color: #000;
}
input[type='text']{
    padding: 1em 1.5em;
    width: 60%;
    margin-bottom: 1em;
    border-radius: 8px;
}
.descricoes{
    color:#000;
    width: 30%;
    text-align: right;
    margin-right: 5px;
    text-transform: uppercase;
}
input[type='text'] , .descricoes{
    display: inline-block;
}