<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Cadastrar</title>
    <link rel="stylesheet" href="..static/estilo.css">
</head>
<body>
    <div class="conteudo">
        <form action="/salvar" method="get">
            <input type="text" name="nome" id="nome">
            <div>
                <label for="nome">Nome:</label> <br>
            </div>
            <input type="text" name="sobrenome" id="sobrenome">
            <div>
                <label for="sobrenome">Sobrenome:</label> <br>
            </div>
            <input type="text" name="idade" id="idade">
            <label for="idade">Idade:</label> <br>
            <input type="text" name="logradouro" id="logradouro">
            <label for="logradouro">Logradouro:</label> <br>
            <input type="text" name="numero" id="numero">
            <label for="numero">Numero:</label> <br>
            <input type="text" name="complemento" id="complemento">
            <label for="complemento">Complemento:</label> <br>
            <input type="text" name="bairro" id="bairro">
            <label for="bairro">Bairro:</label> <br>
            <input type="text" name="cidade" id="cidade">
            <label for="cidade">Cidade:</label> <br>
            <hr>
            <input type="submit" value="Salvar" class="salvar">
            <button class="limpar">Limpar</button>

        </form>

    </div>
    
</body>
</html>